/* Import Coogle font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  padding: 0 10px;

  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #5372f0;
}
.wrapper {
  padding: 35px;
  position: relative;
  overflow-x: hidden;
  max-width: 1000px;
  background: #fff;
  border-radius: 13px;
}
.wrapper .icon {
  position: absolute;
  top: 0;
  height: 100%;
  width: 120px;
  display: flex;
  align-items: center;
}
.icon:first-child {
  left: 0;
  background: linear-gradient(90deg, #fff 70%, transparent);
}
.icon:last-child {
  right: 0;
  justify-content: flex-end;
  background: linear-gradient(-90deg, #fff 70%, transparent);
}
.icon i {
  cursor: pointer;
  width: 55px;
  height: 55px;
  font-size: 1.2rem;
  text-align: center;
  line-height: 55px;
  border-radius: 50%;
}
.icon i:hover {
  background: #d8d5f2;
}
.icon:first-child i {
  margin-left: 15px;
}
.icon:last-child i {
  margin-right: 15px;
}
.wrapper .tabs-box {
  display: flex;
  gap: 12px;
  list-style: none;
  overflow-x: hidden; /* <- css를 추가함으로써 dragging 메서드가 mouse가 move할 때마다 이동하는 걸을 화면에서 확인 할 수 있음*/
  scroll-behavior: smooth; /*<- css로 인해 scroll 동작구현을 할 때 부드럽게 동작 구현을 할 수 있음*/
}
.tabs-box.dragging {
  /*script로 dragging 라는 클래스 생성되면 아래와 같이 css를 설정해줌으로써 mousemove 동작이 버벅이는 현상을 개선 */
  scroll-behavior: auto;
  cursor: grab;
}
.tabs-box .tab {
  cursor: pointer;
  font-size: 1.18rem;
  white-space: nowrap;
  background: #f5f4fd;
  border: 1px solid #d8d5f2;
  padding: 13px 20px;
  border-radius: 30px;
}
.tabs-box.dragging .tab {
  /*drag 할 때만 움직일 수 있도록 설정 가능*/
  user-select: none;
  pointer-events: none;
}
.tabs-box .tab:hover {
  background: #d8d5f2;
}
.tabs-box .tab.active {
  color: #fff;
  background: #5372f0;
  border-color: transparent;
}
